.logo {
  vertical-align: middle;
  width: 2.5em;
  height: 2.5em;

  &__bg {
    fill: var(--gray-dark);
  }

  &__fg {
    //fill: white;
  }

  ///

  @include mq(64em) {
    width: 4em;
    height: 4em;
  }
}
