.post {
  //

  &__header {
    margin-bottom: 2em;
    text-align: center;
  }

  &__title {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;

    &:before {
      content: '';
      position: absolute;
      top: calc(100% - 0.125rem);
      left: 50%;
      transform: translateX(-50%);
      width: 4rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--primary);
    }
  }

  &__excerpt {
    font-size: 1.25em;
  }

  ///

  @include mq(48em) {
    &__title {
      font-size: 3.25em;
    }
  }

  @include mq(64em) {
    &__header {
      margin-bottom: 4em;
    }

    &__title {
      font-size: 5em;
    }
  }
}

///

.site__content {
  padding-right: 0;
  padding-left: 0;
}

.post {
  display: grid;
  grid-template-columns:
    [full-start] 1em
    [content-start] 1fr [content-end]
    1em [full-end];

  > * {
    grid-column: content-start / content-end;
  }

  .full {
    grid-column: full-start / full-end;
  }

  ///

  @include mq(50em) {
    grid-template-columns:
      [full-start] 1em
      1fr
      [wide-start] minmax(0, 8em)
      [content-start] 48em [content-end]
      minmax(0, 8em) [wide-end]
      1fr
      1em [full-end];

    .wide {
      grid-column: wide-start / wide-end;
    }
  }
}
