:root {
  --accent-color: #2dbda8;
  --background-color: #2e353d;
  --background-color-alt: #444b53;
  --text-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --background-color-alt: #eee;
    --text-color: #2e353d;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  line-height: 1.5;
  font-family: Georgia, serif;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-family: 'PT Sans', Arial, sans-serif;
}

a {
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  color: currentColor;
}

/**/

.container {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.container--small {
  max-width: 34em;
}

.container--large {
  max-width: 66em;
}

/**/

.site {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.site__header {
  padding: 1em 0;
  border-top: 0.5em solid var(--accent-color);
  background-color: var(--background-color-alt);
}

.site__header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site__header a:not([aria-current]) {
  text-decoration: none;
}

.site__content {}

.site__footer {
  margin-top: 2em;
  padding: 1em 0;
  border-bottom: 0.5em solid var(--accent-color);
  background-color: var(--background-color-alt);
  text-align: center;
}

@media screen and (min-width: 48em) {
  .site__header {
    padding: 4em 0;
  }

  .site__footer {
    margin-top: 4em;
  }
}

/**/

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.skip-link:focus {
  transform: translateX(0);
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: inline-block;
  padding: 0.75em 1em;
}

.social-links {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
}

/**/

.page {}

.page__header {
  margin-bottom: 2em;
  padding: 2em 0;
  background-color: var(--background-color-alt);
}

.page__title {
  font-size: 4em;
  font-size: clamp(2em, 6vw, 4em);
}

.page__date {
  position: relative;
  margin-top: 2em;
  margin-bottom: 0;
}

.page__date:before {
  content: '';
  position: absolute;
  bottom: calc(100% + 0.875em);
  width: 4em;
  height: 0.25em;
  border-radius: 0.25em;
  background-color: var(--accent-color);
}

.page__content {}

.page__content p ~ h2 {
  margin-top: 2rem;
}

@media screen and (min-width: 32em) {
  .page__header {
    margin-bottom: 4em;
    padding: 4em;
    text-align: center;
  }

  .page__date {
    margin-top: 4em;
  }

  .page__date:before {
    bottom: calc(100% + 1.875em);
    left: 50%;
    transform: translateX(-50%);
  }

  .page__content p ~ h2 {
    margin-top: 4rem;
  }
}

/**/

.logo {
  width: 3em;
  height: 3em;
}

@media screen and (min-width: 48em) {
  .logo {
    width: 4em;
    height: 4em;
  }
}

pre.highlight {
  overflow-x: auto;
  padding: 2em;
  border-radius: 0.25em;
  background-color: var(--background-color-alt);
  color: var(--text-color);
}
